<!DOCTYPE html>
<html lang="zxx" class="js">

<!-- Mirrored from ico.pjaguar.com/forgot.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Aug 2023 06:51:15 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start investing in Project Jaguar through crypto. Buy & Sell EduToken">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>TokenWiz - ICO User Dashboard Admin Template</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/css/vendor.bundle7500.css?ver=103">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/style7500.css?ver=103"">
    <style>
        input[type=" number"]::-webkit-inner-spin-button, input[type="number" ]::-webkit-outer-spin-button {
        -webkit-appearance: none; appearance: none; margin: 0; } </style>
</head>

<body class="page-ath">

    <div class="page-ath-wrap">
        <div class="page-ath-content">
            <div class="page-ath-header">
                <a href="index.html" class="page-ath-logo"><img src="/images/logo.png" srcset="images/logo2x.png 2x"
                        alt="logo"></a>
            </div>
            <div class="page-ath-form">
                <h2 class="page-ath-heading">Check Authentication Code</h2>
                <form action="/checkLoginTwoFAcode" method="post">
                    <div class="input-item">
                        <input type="number" placeholder="Your Code" name="otpCode" maxlength="6"
                            class="input-bordered">
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-primary btn-block">Verify Code</button>
                        </div>
                    </div>
                    <div class="gaps-2x"></div>
                </form>

            </div>
            <div class="page-ath-footer">
                <ul class="footer-links">
                    <li><a href="regular-page.html">Privacy Policy</a></li>
                    <li><a href="regular-page.html">Terms</a></li>
                    <li>&copy; 2019 Project Jaguar.</li>
                </ul>
            </div>
        </div>
        <div class="page-ath-gfx">
            <div class="w-100 d-flex justify-content-center">
                <div class="col-md-8 col-xl-5">
                    <img src="images/ath-gfx.png" alt="image">
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.bundle7500.js?ver=103"></script>
    <script src="/js/script7500.js?ver=103"></script>
</body>

<!-- Mirrored from ico.pjaguar.com/forgot.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Aug 2023 06:51:15 GMT -->

</html>